html {
    overflow-y: auto;
}

body {
    min-height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.pagina {
    min-height: 100vh;
}

.marco {
    min-height: auto;
    overflow: visible;
}
